<h3>List book</h3>
<a class="btn btn-success float-right" routerLink="create">Add new a book</a>
<table class="table table-striped">
  <thead class="bg-primary text-light">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of listBook;index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['/books',book.id]">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td><a [routerLink]="['/books','edit', book.id]">Edit</a> | <a [routerLink]="['/books','delete', book.id]">Remove</a></td>
    </tr>

  </tbody>
</table>
