
<h3>Are you sure want to delete this book?</h3>
<div *ngIf="book; else nothing1">
  <span class="font-weight-bold">Name: </span><span>{{book.title}}</span><br>
  <span class="font-weight-bold">Author: </span><span>{{book.author}}</span><br>
  <span class="font-weight-bold">Description: </span><span>{{book.description}}</span><br>
</div>
<button class="btn btn-danger mt-2" (click)="delete()">Delete</button>
<a class="btn btn-success mt-2 ml-2" routerLink="/books">Quit</a>
<ng-template #nothing1>
  <p>Nothing to show</p>
</ng-template>


